.ajax-overlay {
  background: #000000;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

#ajax-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 120px;
  width: 120px;
  background:  url('../images/ajax.svg') no-repeat;
  display: none;
}
/*
TEST PREMIUM BASE
*/